<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background:black;color:red;">

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= yield :sidebar %>
		</div>
		<div class="col-md-9"> 
			<%= yield %>
		</div>
	</div>
</div>


</body>
</html>
